/* ==UserStyle==
@name           DarkL
@namespace      deepl.com
@version        0.1.0
@description    A Dark theme for deepL.com
@author         Noya
==/UserStyle== */

@-moz-document domain("deepl.com")
{
    :root
    {
        color-scheme: dark;
        --color-accent: rgb(18, 143, 231);
        --color-accent-light: rgb(33, 154, 233);
        --color-accent-alternate: rgb(137, 234, 80);
        --color-dark: rgb(80, 80, 80);
        --color-darker: rgb(60, 60, 60);
        --color-darkest: rgb(30, 30, 30);
        --color-light: rgb(210, 210, 210);
        --color-lighter: rgb(240, 240, 240);
        --color-lightest: rgb(250, 250, 250);
        --color-medium: rgb(120, 120, 120);
    }
    
    svg, svg path
    { 
        stroke: var(--color-accent) !important; 
    }

    html
    {
        background: var(--color-darker) !important;
    }
    
    html:not(.lmt_df-1641_increase_mobile_breakpoint) .lmt__dict .lmt__dict__inner, 
    .lmt__dict__inner *
    {
        background: var(--color-darker) !important;
        color: var(--color-light) !important;
    }
    
    header *, header::before,
    .lmt__language_container, 
    .dl_body--redesign .lmt--web .lmt__textarea_container 
    {
        background: var(--color-darker) !important;
        color: var(--color-light) !important;
        border-color: var(--color-darkest) !important;
    }
    
        
    .dl_translator_page_container 
    {
        background: var(--color-darkest);
    }
    
    .lmt__language_select__active__title, .lmt__language_select__active__title a 
    {
        color: var(--color-light) !important;
    }
    
    .dl_pro__banner--featureWrapper *,
    .dl_app_ad *,
    .dl_top_element *,
    .dl_top_element--wide *,
    .dl_header *,
    .integratedLanguageSelectors .lmt--web .lmt__sides_container .lmt__side_container--target .lmt__language_container_switch
    {
        background: var(--color-darker);
    }
    
    .lmt__translations_as_text__item *
    {
        color: var(--color-light) !important;
    }
    
    .integratedLanguageSelectors .lmt--web .lmt__sides_container .lmt__side_container--target .lmt__language_container_switch,
    .lmt__textarea_container--text_too_long
    {
        border-color: var(--color-medium) !important;
    }
    
    button strong {
        color: var(--color-accent-light) !important;
    }
    
    textarea
    {
        color: var(--color-light) !important;
        border: none !important;
        background: var(--color-darkst) !important;
    }

}
